.home {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(./Automotive-Sales.jpg);
    height: 100vh;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
}
.text {
    width: 50%;
    height: auto;
    /* border: 1px solid black; */
    text-align: center;
    padding-top: 200px;
    margin: auto;
}
@media screen and (max-width: 750px) {
    .text {
       width: 60%; 
    }
}

@media screen and (max-width: 750px) {
    .home {
       width: 100vw; 
    }
}